body {
  margin: 0px auto;
  padding: 0;
    width: 90%;
    position:absolute;
    text-align: center;
  display:inline-block;
    
}

.logo {
  float: left;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 80%;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: grey;
  height: 70px;
  width: 100%;
}

#navigation-container img {
  float: left;
}

#navigation-container ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
}

#navigation-container li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

#navigation-container li a {
  color: black;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
  float: right;
}

p{
    width: 80%;
    margin: 0px auto; 
}

.block_content li{
 list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
    font-size: 10px;
    text-align: center;
}

.main_block{
    width: 200px;
    padding: 0px;
  margin: 0px;
  display:inline-block;
    
}

article{
    text-align: center;
}

.footer-bloc{
    
    padding: 0px;
  margin: 0px auto;
  display:inline-block;
}

.footer-bloc>ul>li{
list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}

h2{background: grey;}

button{
    background-color: aquamarine;
    border-radius: 6px;
}

section{
    border: 1px, solid
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}